.sidebar {
  min-height: 100vh;
  border-right: 1px solid lightgray;
}

.sidebar .list-group-item {
  border: 0;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">";
}

.page-title {
  padding-left: 15px;
}

.disabled-button {
  cursor: default !important;
}

.footer-custom {
  min-height: 10vh;
}